
    /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.4)
    ),
    url('map-of-the-world-2401458_1920.jpg');
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  text-align: end;
  
}

.nav-masthead .nav-link {
  padding: 0rem 0rem 0.5rem;
  font-weight: 700;
  font-size:1rem;
  color: rgba(100, 0, 20, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: orange;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  
}
 
.nav-masthead .active {
  color: white;
  font-family: sans-serif;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
    
  }
}


/*
 * Cover
 */
.cover {
  padding: 0rem 1.25rem 1.25rem;
  color: orange;
  text-align: center;
  text-shadow: white;
  font-family: serif;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
  font-family: cursive;
  
  
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
    
    
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}